@import "./template/colors.scss";
@import "./template/mixin.scss";
* {
  box-sizing: border-box;
  text-size-adjust: none;
}
::-webkit-scrollbar {
  width: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
body,
input,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $normalTextColor;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  color: $normalTextColor;
  background-color: $mainBackground;
}
input {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1481px;
  padding: 0 10px;
  margin: 0 auto;
}
h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  color: $normalTextColor;
}
h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 6px;
  color: $highlightTextColor;
  @include flex-container();
  width: fit-content;
  margin-bottom: 32px;
  span {
    display: inline-flex;
    width: 72px;
    height: 2px;
    background: $highlightTextColor;
    margin-right: 24px;
  }
}
.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $highlightTextColor;
  @include flex-container();
  align-items: start;
  max-width: 128px;
  transition: 0.5s;
  span{
    transition: 0.5s;
  }
  &:hover{
    text-shadow: 1px 1px 7px rgba(255,  255,  255, 0.96);
    span{
      transform: translateX(5px);
    }
  }
  &:active{
    transform: scale(0.8);
  }
}
@media screen and (max-width: 610px) {
  h2{
    font-size: 40px;
    line-height: 50px;
  }
}