@import "../../template/mixin.scss";
@import "../../template/colors.scss";
.bromo {
  &__container {
    margin-top: 70px;
    padding-top: 533px;
    position: relative;
    padding-bottom: 42px;
    max-width: 1461px;
    margin-bottom: 227px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  &__arrow {
    @include flex-container();
    position: absolute;
    top: 43%;
    width: 95%;
    padding: 40px;
    svg {
      cursor: pointer;
      path {
        transition: 0.5s;
      }
      &:hover {
        path {
          fill: $mainBackground;
        }
      }
      &:active {
        path {
          transform: scale(0.7);
        }
      }
    }
  }
  &__title-min {
    margin: 0 auto;
    margin-bottom: 25px;
    span {
      margin-left: 24px;
    }
  }
  &__title {
    margin: 0 auto;
    max-width: 705px;
    text-align: center;
    margin-bottom: 27px;
  }
  &__info {
    max-width: 934px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 43px;
  }
  &__link {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1110px) {
  .bromo {
    &__container {
      padding-top: 233px;
      margin-bottom: 100px;
    }
    &__arrow {
      top: 15%;
    }
    &__title-min {
      span {
        margin: 5px;
      }
    }
  }
}
