@import "../../template/mixin.scss";
@import "../../template/colors.scss";
.footer {
  padding-bottom: 118px;
  &__top {
    @include flex-container();
    align-items: flex-start;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff4d;
    margin-bottom: 55px;
    padding-left: 3px;
  }
  &__logo {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: $normalTextColor;
    padding-top: 10px;
  }
  &__started {
    max-width: 474px;
    width: 100%;
    @include flex-container();
    &_ready {
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      letter-spacing: -0.3px;
    }
    &_btn {
      cursor: pointer;
      background: $btnColor;
      border-radius: 8px;
      font-weight: 700;
      font-size: 17px;
      line-height: 22px;
      color: $mainBackground;
      width: 240px;
      height: 69px;
      @include flex-container();
      justify-content: center;
      position: relative;
      overflow: hidden;
      span {
        z-index: 2;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 0 solid;
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
      }

      &:before {
        bottom: 0;
        left: 0;
        border-color: transparent transparent transparent rgb(255, 255, 255);
      }

      &:after {
        top: 0;
        right: 0;
        border-color: transparent rgb(255, 255, 255) transparent transparent;
      }

      &:hover {
        &:before,
        &:after {
          border-width: 68px 249px;
        }
      }
    }
  }
  &__middle {
    margin-bottom: 106px;
    @include flex-container();
    align-items: start;
  }
  &__left {
    width: 100%;
    max-width: 400px;
    height: 221px;
    margin-right: 50px;
    h4 {
      font-weight: 700;
      font-size: 36px;
      line-height: 49px;
      letter-spacing: -0.3px;
      color: $normalTextColor;
      margin-bottom: 50px;
    }
    form {
      height: 69px;
      border-bottom: 1px solid #ffffff4d;
      width: 100%;
      @include flex-container();
    }
    input {
      background: transparent;
      border: none;
      padding-left: 15px;
      margin-top: -10px;
      &::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.204545px;
        color: $normalTextColor;
        opacity: 0.5;
      }
    }
    button {
      background: #ffa343;
      border-radius: 8px 8px 0px 0px;
      width: 69px;
      height: 100%;
      svg {
        position: relative;
        z-index: 2;
      }
    }
  }
  &__right {
    @include flex-container();
    align-items: start;
    max-width: 810px;
    width: 100%;
    padding-right: 108px;
    ul {
      li {
        margin-bottom: 13px;
        &:first-child {
          margin-top: 18px;
          font-weight: 700;
          font-size: 20px;
          letter-spacing: -0.231818px;
          color: #ffd1a0;
        }
        a {
          font-weight: 400;
          font-size: 19px;
          letter-spacing: -0.204545px;
          color: $normalTextColor;
        }
      }
    }
  }
  &__bottom {
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: $normalTextColor;
      opacity: 0.5;
    }
  }
  &__bottom-link {
    margin-bottom: 156px;
    @include flex-container();
    padding-right: 43px;
  }
  &__bottom-privacy {
    padding-left: 40px;
    @include flex-container();
    li {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.204545px;
      color: $normalTextColor;

      &:first-child {
        margin-right: 90px;
      }
    }
  }
  &__bottom-social {
    width: 173px;
    @include flex-container();
    li {
      a {
        display: flex;
      }
    }
  }
}
@media screen and (max-width: 1340px) {
  .footer {
    &__right {
      padding-right: 0px;
    }
  }
}
@media screen and (max-width: 940px) {
  .footer {
    &__top {
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      margin-bottom: 30px;
    }
    &__middle {
      flex-direction: column;
      align-items: center;
      &__left {
        form {
          margin-bottom: 30px;
        }
      }
    }
    &__left {
      margin-right: 0px;
      h4 {
        font-size: 26px;
      }
    }
    &__bottom-link {
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 660px) {
  .footer {
    &__bottom-link {
      flex-direction: column;
      align-items: center;
      padding-right: 0px;
    }
    &__bottom-privacy {
      margin-bottom: 25px;
      padding-left: 0px;
    }
  }
}
@media screen and (max-width: 450px) {
  .footer {
    &__right {
      flex-direction: column;
      align-items: center;
      ul {
        min-width: 140px;
      }
    }
    &__bottom-privacy {
      li {
        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}
